<div class="list-tools-container">
  <gs-tools 
    searchPlaceholder="Order №, Name, Email, Phone"
    filterPlaceholder="Processed status"
    [filterOptions]="this.statuses"
    (filterChange)="filterChanged($event)"
    (searchChange)="searchChanged($event)"
  >
  </gs-tools>
<gs-list #list (scrolledToBottom)="loadMoreOrders()" [isAllDataLoaded]="ordersChunk.isAllDataLoaded" >
  <ng-container ngProjectAs="listBody">
    <ng-container [ngTemplateOutlet]="ordersList"></ng-container>
  </ng-container>
</gs-list>
</div>

<ng-template #ordersList>
  <ng-container *ngFor="let order of ordersChunk.data">
    <ng-container [ngTemplateOutlet]="ordersListItem" [ngTemplateOutletContext]="{order: order}"></ng-container>
  </ng-container>
</ng-template>

<ng-template #ordersListItem let-order="order">
  <div class="orders-list-item list-item">
    <div class="orders-list-item-left">
      <h2 class="orders-list-item-title">Order № {{ order.id }}</h2>
      <mat-slide-toggle [checked]="order.isProcessed" (change)="processedStatusChanged(order)">
        {{ order.isProcessed ? 'Processed' : 'Unprocessed' }}
      </mat-slide-toggle>
    </div>
    <div class="orders-list-item-right">
      <mat-accordion multi="true">
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Details
            </mat-panel-title>
            <mat-panel-description>
              Order details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="orders-list-item-contacts">
            <div class="orders-list-item-contacts-info">
              <p><span>Name: </span>{{ order.name }}</p>
              <p><span>Email: </span>{{ order.email }}</p>
              <p><span>Phone: </span>{{ order.phone }}</p>
              <p><span>Date: </span>{{ order.date | date }}</p>
              <button mat-raised-button color="warn" (click)="openDeleteDialog(order)">
                <mat-icon aria-hidden="false" aria-label="Remove order">delete_forever</mat-icon>Delete an order
              </button>
            </div>
            <div class="orders-list-item-contacts-comment" *ngIf="order.comment">
              <p class="orders-list-item-contacts-comment-title">
                Comment:
              </p>
              <p>{{ order.comment }}</p>
            </div>
            <div class="orders-list-item-products">
              <div class="orders-list-item-products-row">
                <p class="orders-list-item-products-col orders-list-item-products-header orders-list-item-products-col-title">
                  Product
                </p>
                <p class="orders-list-item-products-col orders-list-item-products-header">
                  Price
                </p>
                <p class="orders-list-item-products-col orders-list-item-products-header">
                  Amount
                </p>
              </div>
              <div class="orders-list-item-products-row" *ngFor="let cartItem of order.cartItems">
                <div class="orders-list-item-products-col orders-list-item-products-col-title">
                  <img [attr.src]="cartItem.game?.imageUrl" class="orders-list-item-products-image" />
                  <p class="orders-list-item-products-title">{{ cartItem.game?.title }}</p>
                </div>
                <div class="orders-list-item-products-col orders-list-item-products-price">
                  {{ cartItem.game?.price }}$
                </div>
                <div class="orders-list-item-products-col">
                  {{ cartItem.count }} pcs.
                </div>
              </div>
              <div class="orders-list-item-products-row">
                <p class="orders-list-item-products-header">Total price: {{ getTotalPrice(order) }}$</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</ng-template>