<div class="list-tools-container">
  <gs-tools 
    searchPlaceholder="Search for games"
    filterPlaceholder="Category"
    [filterOptions]="this.categories"
    (filterChange)="filterChanged($event)"
    [sortCriterias]="sortCriterias"
    (sortChange)="sortChanged($event)"
    (searchChange)="searchChanged($event)"
  >
  </gs-tools>
  <gs-list #list (scrolledToBottom)="loadMoreProducts()" [isAllDataLoaded]="productsChunk.isAllDataLoaded" >
    <ng-container ngProjectAs="listBody">
      <ng-container [ngTemplateOutlet]="productsList"></ng-container>
    </ng-container>
  </gs-list>
</div>

<ng-template #productsList>
  <ng-container *ngFor="let product of productsChunk.data">
    <ng-container [ngTemplateOutlet]="productsListItem" [ngTemplateOutletContext]="{product: product}"></ng-container>
  </ng-container>
  <ng-container *ngIf="productsChunk.isLoaded && productsChunk.data.length === 0"><p class="mat-headline primary-color">No games found for your request!</p></ng-container>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="products-loading"></mat-progress-spinner>
</ng-template>

<ng-template #productsListItem let-product="product">
  <div class="products-list-item list-item">
    <div class="products-list-item-left">
      <div class="product-image-container">
        <img [attr.src]="product.imageUrl" class="product-image"/>
      </div>
      <div class="product-info">
        <div class="mat-title product-title" mat-button color="primary" [routerLink]="['/products', product.id]">
            {{ product.title }}
        </div>
        <div class="product-description mat-body" ellipsis>
          {{ product.description }}
        </div>
        <div class="product-price-category">
          <mat-chip-list>
            <ng-container *ngFor="let category of product.categories">
              <mat-chip>{{ category?.name }}</mat-chip>
            </ng-container>
            <mat-chip color="primary" selected>{{ product.price }}$</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="products-list-item-right">
      <button mat-stroked-button color="primary" class="add-to-cart-btn" (click)="addToCart(product)">
        <mat-icon aria-hidden="false" aria-label="Add to cart">add_shopping_cart</mat-icon>{{ 'Add to cart' | uppercase }}
      </button>
    </div>
  </div>
</ng-template>

