<div class="tools"> 
  <div class="page-content-item tools-wrapper">
    <mat-form-field class="tools-item search-form-field" *ngIf="searchPlaceholder">
      <mat-label>{{ searchPlaceholder }}</mat-label>
      <input matInput type="text" [formControl]="searchControl">
      <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="tools-item" *ngIf="filterOptions && filterOptions.length > 0"> 
      <mat-label>{{ filterPlaceholder }}</mat-label>
      <mat-select disableOptionCentering  (selectionChange)="filterChange.emit($event.value)" [(value)]="filter">
        <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
          {{ filterOption.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="sortCriterias.length > 0" class="tools-item">
      <span>
        Order by:
      </span>
      <button class="sort-criteria-btn" mat-button *ngFor="let sortCriteria of sortCriterias" (click)="sortCriterasChanged(sortCriteria.fieldName, sortCriteria.order)">
        <span>
          <mat-icon>
            <ng-container *ngIf="sortCriteria.order === sortOrder.ASC">arrow_drop_up</ng-container>
            <ng-container *ngIf="sortCriteria.order === sortOrder.DESC">arrow_drop_down</ng-container>
          </mat-icon>
          <span>
            {{ sortCriteria.fieldText }}
          </span>
        </span>
      </button>
    </div>
    <ng-content select="actions">
    </ng-content>
  </div>
</div>
