.product-details-component {
  width: 100%;
  display: flex;
  padding-top: 10px;
  &-left {
    flex-basis: 25%;
  }
  &-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  &-title {
    margin-top: 0;
  }
  &-description {
    white-space: pre-wrap;
    text-align: justify;
  }
  &-controls {
    display: flex;
  }
  &-controls > * {
    margin-right: 15px;
  }
  &-right {
    padding-left: 15px;
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
  }
}